.fixedTop{
    /* background-color: #ffe0b4 !important; */
    height: 120px;
}
md-sidenav{
	/* border: 1px solid #EEE; */
	margin-left: 40px;
	/* height: 302px; */
}
md-list {
    padding: 0;
}
.layout-column>.flex {
    margin-top: -52px;
    /* margin-left: 20px; */
    /* margin-right: 20px; */
}
.blank-list{
	background-color: #ff9803 !important;
}
.blank-list h3{
	color: #FFF !important;
	width: 100%;
	text-align: center;
}
.blank-list img{
	height: 56px;
	width: 282px;
	margin-top: 6px;
}
.list_one{
	color: #808080;
	font-size: 14px;
}
.active{
	background-color: #EEE;
	color: #e7c690;
	margin: 6px 0;
}
.material-icons{margin-right: 20px;}
.sideMenuEnable{
	font-size: 42px;
	margin-top: 12px;
	margin-left: 12px;
	display: none;
}
md-content {
    width: 90%;
    margin-left: 20px;
    margin-right: 10px;
    padding: 0 !important;
}
.md-subheader .md-subheader-inner{padding: 0 !important}
.displayHide{display: none !important;}
.displayShow{display: block !important;}

@media (max-width: 680px) {
	.sideMenuEnable{display: block;}
	.sideMenuList{display: none !important;position: fixed !important;margin-left: 0 !important}
}
