<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="css/angular-material.min.css"> -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/styles.css" rel="stylesheet">
</head>
<body ng-app="BlankApp" ng-cloak>

	<div ng-controller="homeController" layout="column">
		<md-toolbar class="md-warn md-hue-1 fixedTop"></md-toolbar>
		<div class="container" layout="row" flex>
			<md-sidenav class="md-whiteframe-2dp sideMenuList" md-is-locked-open="true">
				<md-list>
				  <md-list-item class="md-2-line blank-list" flow-init layout="row" flow-file-success="someHandlerMethod($file, $message, $flow)">
				  	<!-- <md-icon md-svg-icon="" aria-label="Alarm Icon"></md-icon> Company Information -->
				  	<!-- <img src="img/1.png"> -->
				  	<span><input type="file" flow-btn />upload</span>
				  	<!-- <img src="$flow.files[0]" alt="" ng-if="$flow.files" ng-show="$flow.files.length"> -->

				  	<!-- <span class="btn" flow-btn>
				  						  	<i class="material-icons" flow-btn>camera_alt</i>
				  						  	<input type="file" flow-btn style="visibility: hidden;position: absolute;" />
				  	</span> -->

				  	<!-- <span class="btn btn-primary" flow-btn><i class="material-icons" flow-btn>camera_alt</i><input type="file" style="visibility: hidden; position: absolute;"></span> -->

				  	<!-- <img src="img/1.png" alt=""> -->


				  </md-list-item>
				  <md-list-item class="md-2-line blank-list"><h3>ComakeIT</h3></md-list-item>
				  <md-list-item class="md-1-line list_one active" ui-sref="companyInfo">
				  	<i class="material-icons">account_box</i> Company Information
				  </md-list-item>
				  <md-list-item class="md-1-line list_one">
				  	<i class="material-icons">settings</i> Company Settings
				  </md-list-item>
				  <md-list-item class="md-1-line list_one">
				  	<i class="material-icons">group</i> Company Users
				  </md-list-item>
				  <md-list-item class="md-2-line blank-list"></md-list-item>

				</md-list>
			</md-sidenav>
			<md-content layout-padding class="md-whiteframe-2dp">
				<md-toolbar class="blank-list" layout="row">
					<i class="material-icons sideMenuEnable" ng-click="">list</i>
					<div class="md-toolbar-tools"><h2 class="md-flex">Company Information</h2></div>
				</md-toolbar>
				<md-subheader><h2>settings: ComakeIT</h2></md-subheader>
	            <!-- <form name="projectForm" novalidate ng-submit="projectForm.$valid  && (projectForm.$setPristine();submitFormDetails(projectForm))"> -->
	            <form name="projectForm" novalidate >
	               <md-input-container class="md-block">
	                  <label>Domain Name</label>
	                  <input required name="userName" ng-model="project.domainName">
	                  
	               </md-input-container>

	               <md-input-container class="md-block">
	                  <label>Company Name</label>
	                  <input required name="userName" ng-model="project.companyName">
	                  <!-- <div ng-messages="projectForm.userName.$error">
	                  </div> -->
	               </md-input-container>

	               <md-input-container class="md-block">
	                  <label>Sub Name</label>
	                  <input name="userName" ng-model="project.subName">
	               </md-input-container>

	               <md-input-container class="md-block">
	                  <label>Address</label>
	                  <input required name="userName" ng-model="project.address">
	                  <!-- <div ng-message="required">This is required.</div> -->
	               </md-input-container>

	               <md-input-container class="md-block">
	                  <label>Address 2</label>
	                  <input name="userName" ng-model="project.address2">
	               </md-input-container>
	               <md-button type="submit">submit</md-button>
	            </form>
	            <div ui-view>
	            	
	            </div>
	         </md-content>
		</div>
	</div>
  
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script> -->
  <script src="js/angular.min.js"></script>
  <script src="js/angular-animate.js"></script>
  <script src="js/angular-aria.js"></script>
  <script src="js/angular-material.min.js"></script>
	
  <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script> -->
  <script type="text/javascript">    
   
     /*function fustyFlowFactory(opts) {
		  var flow = new Flow(opts);
		  if (flow.support) {
		    return flow;
		  }
		  return new FustyFlow(opts);
		}*/
	angular.module('BlankApp', ['ngMaterial'])
	/*.config(["$routeProvider",function($routeProvider) {
		$routeProvider
		    .when("/companyInfo", {
		        templateUrl : "companyInfo.html"
		    })
    }])*/
	/*.config(['flowFactoryProvider', function (flowFactoryProvider) {
	    flowFactoryProvider.defaults = {
	      target: '',
	      permanentErrors: [500, 501],
	      maxChunkRetries: 1,
	      chunkRetryInterval: 5000,
	      simultaneousUploads: 1
	    };
	    flowFactoryProvider.on('catchAll', function (event) {
	      //console.log('catchAll', $files);
	      console.log('catchAll', arguments);
	    });
	    // Can be used with different implementations of Flow.js
	    flowFactoryProvider.factory = fustyFlowFactory;
	  }])*/

    .controller('homeController', ['$scope', function ($scope) {
    	console.log('homeController');
    	
    	$scope.setFormModels = function() {
    		$scope.project = {
	    		"domainName" : "",
	    		"companyName" : "",
	    		"subName" : "",
	    		"address" : "",
	    		"address2" : ""
	    		
	    	}
    	}
    	$scope.setFormModels();
    	$scope.submitFormDetails = function(form) {
    		console.log("in in in in");
    		$scope.setFormModels();    		
    		
    		//$scope.projectForm.domainName.$touched = false;
    		
    	}

    	/*$scope.$on('flow::fileAdded', function (event, $flow, flowFile) {
    		console.log('file fileSuccess',$flow);
			event.preventDefault();
		});*/
    }]);
  </script>
  
</body>
</html>